*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    background-color: rgb(17, 37, 27);
    
}
.title{
    text-align: center;
    padding-top: 3rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    margin-bottom: 3rem;
}


.container-pelis{
    text-align: center;
    max-width: 90%;
    min-width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: auto;
    border: 2px solid red;

}

#card{
    border-radius: 20px;
    padding: 0.2rem;
    margin-bottom: 2rem;
}

#img{
    border-radius: 15px;
}

.principal{
    margin-top: 3rem;
    margin-bottom: 4rem;
}

